In [1]:
from pyspark.sql import HiveContext

In [2]:
sqlContext = HiveContext(sc)

In [16]:
sqlContext.sql("show databases").show()

+------------+
|databaseName|
+------------+
|     default|
+------------+

In [17]:
sqlContext.sql("""drop table address""").show()

++
||
++
++

In [19]:
sqlContext.sql("""create external table address (
AddressID int
,addressLine1 string
,addressLine2 string
,city string
,PostalCode string
,rowguid string
,ModifiedDate string
)
row format delimited fields terminated by ','
LOCATION '/user/spark-aula/address'
TBLPROPERTIES ("skip.header.line.count"="1")
""").show()

++
||
++
++

In [20]:
sqlContext.sql("select * from address").show()

+---------+--------------------+------------+-----------+----------+--------------------+------------+
|AddressID|        addressLine1|addressLine2|       city|PostalCode|             rowguid|ModifiedDate|
+---------+--------------------+------------+-----------+----------+--------------------+------------+
|     null|        AddressLine1|AddressLine2|       City|PostalCode|             rowguid|ModifiedDate|
|        9|   8713 Yosemite Ct.|            |    Bothell|     98011|268AF621-76D7-4C7...|  01-07-2006|
|       11| 1318 Lasalle Street|            |    Bothell|     98011|981B3303-ACA2-49C...|  01-04-2007|
|       25|    9178 Jumping St.|            |     Dallas|     75201|C8DF3BD9-48F0-465...|  01-09-2006|
|       28|    9228 Via Del Sol|            |    Phoenix|     85004|12AE5EE1-FC3E-468...|  01-09-2005|
|       32|   26910 Indela Road|            |   Montreal|   H1Y 2H5|84A95F62-3AE8-4E7...|  01-08-2006|
|      185|     2681 Eagle Peak|            |   Bellevue|     98004|7BCCF442-2268-46C...|  01-09-2006|
|      297|     7943 Walnut Ave|            |     Renton|     98055|52410DA4-2778-4B1...|  01-08-2006|
|      445|  6388 Lake City Way|            |    Burnaby|   V5A 3A6|53572F25-9133-4A8...|  01-09-2006|
|      446|   52560 Free Street|            |    Toronto|   M4B 1V7|801A1DFC-5125-486...|  01-08-2005|
|      447|   22580 Free Street|            |    Toronto|   M4B 1V7|88CEE379-DBB8-433...|  01-08-2006|
|      448|2575 Bloor Street...|            |    Toronto|   M4B 1V6|2DF6D0AD-0926-4F3...|  01-08-2007|
|      449|           Station E|            |Chalk Riber|   K0J 1J0|8B5A7729-CB75-430...|  01-08-2005|
|      450|   575 Rue St Amable|            |     Quebec|       G1R|5F3C345A-6475-41D...|  01-09-2006|
|      451|     2512-4th Ave Sw|            |    Calgary|   T2P 2G8|49644F1E-6F90-46D...|  01-12-2006|
|      452|55 Lakeshore Blvd...|            |    Toronto|   M4B 1V6|A358652F-0E00-49E...|  01-09-2005|
|      453|     6333 Cote Vertu|            |   Montreal|   H1Y 2H7|355681F2-4D9D-452...|  01-09-2007|
|      454|3255 Front Street...|            |    Toronto|   M4B 1V6|EF4DC57D-8B8B-407...|  01-08-2007|
|      455|   2550 Signet Drive|            |     Weston|   M9V 4W3|43D582CF-E95F-486...|  01-08-2006|
|      456|       6777 Kingsway|            |    Burnaby|   V5H 3Z7|2F3B383E-08A5-407...|  01-08-2006|
+---------+--------------------+------------+-----------+----------+--------------------+------------+
only showing top 20 rows

In [21]:
dfh = sqlContext.sql("select * from address")

In [22]:
dfh.show()

+---------+--------------------+------------+-----------+----------+--------------------+------------+
|AddressID|        addressLine1|addressLine2|       city|PostalCode|             rowguid|ModifiedDate|
+---------+--------------------+------------+-----------+----------+--------------------+------------+
|     null|        AddressLine1|AddressLine2|       City|PostalCode|             rowguid|ModifiedDate|
|        9|   8713 Yosemite Ct.|            |    Bothell|     98011|268AF621-76D7-4C7...|  01-07-2006|
|       11| 1318 Lasalle Street|            |    Bothell|     98011|981B3303-ACA2-49C...|  01-04-2007|
|       25|    9178 Jumping St.|            |     Dallas|     75201|C8DF3BD9-48F0-465...|  01-09-2006|
|       28|    9228 Via Del Sol|            |    Phoenix|     85004|12AE5EE1-FC3E-468...|  01-09-2005|
|       32|   26910 Indela Road|            |   Montreal|   H1Y 2H5|84A95F62-3AE8-4E7...|  01-08-2006|
|      185|     2681 Eagle Peak|            |   Bellevue|     98004|7BCCF442-2268-46C...|  01-09-2006|
|      297|     7943 Walnut Ave|            |     Renton|     98055|52410DA4-2778-4B1...|  01-08-2006|
|      445|  6388 Lake City Way|            |    Burnaby|   V5A 3A6|53572F25-9133-4A8...|  01-09-2006|
|      446|   52560 Free Street|            |    Toronto|   M4B 1V7|801A1DFC-5125-486...|  01-08-2005|
|      447|   22580 Free Street|            |    Toronto|   M4B 1V7|88CEE379-DBB8-433...|  01-08-2006|
|      448|2575 Bloor Street...|            |    Toronto|   M4B 1V6|2DF6D0AD-0926-4F3...|  01-08-2007|
|      449|           Station E|            |Chalk Riber|   K0J 1J0|8B5A7729-CB75-430...|  01-08-2005|
|      450|   575 Rue St Amable|            |     Quebec|       G1R|5F3C345A-6475-41D...|  01-09-2006|
|      451|     2512-4th Ave Sw|            |    Calgary|   T2P 2G8|49644F1E-6F90-46D...|  01-12-2006|
|      452|55 Lakeshore Blvd...|            |    Toronto|   M4B 1V6|A358652F-0E00-49E...|  01-09-2005|
|      453|     6333 Cote Vertu|            |   Montreal|   H1Y 2H7|355681F2-4D9D-452...|  01-09-2007|
|      454|3255 Front Street...|            |    Toronto|   M4B 1V6|EF4DC57D-8B8B-407...|  01-08-2007|
|      455|   2550 Signet Drive|            |     Weston|   M9V 4W3|43D582CF-E95F-486...|  01-08-2006|
|      456|       6777 Kingsway|            |    Burnaby|   V5H 3Z7|2F3B383E-08A5-407...|  01-08-2006|
+---------+--------------------+------------+-----------+----------+--------------------+------------+
only showing top 20 rows

In [24]:
df = spark.read.csv("/user/spark-aula/customer.csv")

In [25]:
df.show()

+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|       _c0|  _c1|   _c2|                 _c3|                 _c4|                 _c5|                 _c6|         _c7|                 _c8|         _c9|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|CustomerID|Title|Suffix|         CompanyName|         SalesPerson|        EmailAddress|        PasswordHash|PasswordSalt|             rowguid|ModifiedDate|
|         1|  Mr.|  null|        A Bike Store|adventure-works\p...|orlando0@adventur...|L/Rlwxzp4w7RWmEgX...|    1KjXYs4=|3F5AE95E-B87D-4AE...|  01-08-2005|
|         2|  Mr.|  null|  Progressive Sports|adventure-works\d...|keith0@adventure-...|YPdtRdvqeAhj6wyxE...|    fs1ZGhY=|E552F657-A9AF-4A7...|  01-08-2006|
|         3|  Ms.|  null|Advanced Bike Com...|adventure-works\j...|donna0@adventure-...|LNoK27abGQo48gGue...|    YTNH5Rw=|130774B1-DB21-4EF...|  01-09-2005|
|         4|  Ms.|  null|Modular Cycle Sys...|adventure-works\j...|janet1@adventure-...|ElzTpSNbUW1Ut+L5c...|    nm7D5e4=|FF862851-1DAA-404...|  01-07-2006|
|         5|  Mr.|  null|Metropolitan Spor...|adventure-works\shu0|lucy0@adventure-w...|KJqV15wsX3PG8TS5G...|    cNFKU4w=|83905BDC-6F5E-4F7...|  01-09-2006|
|         6|  Ms.|  null|Aerobic Exercise ...|adventure-works\l...|rosmarie0@adventu...|OKT0scizCdIzymHHO...|    ihWf50M=|1A92DF88-BFA2-467...|  01-09-2007|
|         7|  Mr.|  null|    Associated Bikes|adventure-works\shu0|dominic0@adventur...|ZccoP/jZGQm+Xpzc7...|    sPoUBSQ=|03E9273E-B193-448...|  01-07-2006|
|        10|  Ms.|  null|Rural Cycle Emporium|adventure-works\j...|kathleen0@adventu...|Qa3aMCxNbVLGrc0b9...|    Ls05W3g=|CDB6698D-2FF1-4FB...|  01-09-2006|
|        11|  Ms.|  null|         Sharp Bikes|adventure-works\j...|katherine0@advent...|uRlorVzDGNJIX9I+e...|    jpHKbqE=|750F3495-59C4-48A...|  01-08-2005|
|        12|  Mr.|   Jr.|Bikes and Motorbikes|adventure-works\g...|johnny0@adventure...|jtF9jBoFYeJTaET7x...|    wVLnvHo=|947BCAF1-1F32-44F...|  01-08-2006|
|        16|  Mr.|   Jr.| Bulk Discount Store|adventure-works\jae0|christopher1@adve...|sKt9daCzEEKWAzivE...|    8KfYx/4=|C9381589-D31C-4EF...|  01-09-2006|
|        18|  Mr.|  null|       Catalog Store|adventure-works\m...|david20@adventure...|61zeTkO+eI5g8GG0s...|    c7Ttvv0=|C04D6B4D-94C6-4C5...|  01-08-2005|
|        19|  Mr.|  null|   Center Cycle Shop|adventure-works\p...|john8@adventure-w...|DzbqWX7B3EK5Dub92...|    zXNgrJw=|69AE5D43-31BE-4B7...|  01-04-2007|
|        20|  Ms.|  null|Central Discount ...|adventure-works\d...|jean1@adventure-w...|o1GVo3vExeNzo0/ct...|    uMsvfdo=|E010C10A-F1C3-4BB...|  01-09-2005|
|        21| null|  null|Chic Department S...|adventure-works\j...|jinghao1@adventur...|IaD5AeqK9mRiIrJi/...|    p6pOqKc=|564E0B42-4609-43D...|  01-09-2006|
|        22|  Ms.|  null|      Travel Systems|adventure-works\j...|linda4@adventure-...|23AwhujCoXYSPiN/B...|    SmyIPjE=|9774AED6-D673-412...|  01-08-2005|
|        23|  Mr.|  null|          Bike World|adventure-works\shu0|kerim0@adventure-...|d0WSjosAd7Y3XOWjN...|    33g5co8=|733F8250-3251-4C2...|  01-09-2006|
|        24|  Mr.|  null|Eastside Departme...|adventure-works\l...|kevin5@adventure-...|ylTpkIOHKLcjihNjS...|    TgZnUOg=|C111E51D-178D-4DB...|  01-09-2006|
|        25|  Mr.|  null|Coalition Bike Co...|adventure-works\shu0|donald0@adventure...|pKYDelLBOZMO98GBz...|    jKtOaOw=|31D03546-FB2A-448...|  01-09-2006|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
only showing top 20 rows

In [26]:
df = spark.read.option("delimiter", ";").csv("/user/spark-aula/customer.csv")

In [27]:
df.show()

+--------------------+
|                 _c0|
+--------------------+
|CustomerID,Title,...|
|1,Mr.,,A Bike Sto...|
|2,Mr.,,Progressiv...|
|3,Ms.,,Advanced B...|
|4,Ms.,,Modular Cy...|
|5,Mr.,,Metropolit...|
|6,Ms.,,Aerobic Ex...|
|7,Mr.,,Associated...|
|10,Ms.,,Rural Cyc...|
|11,Ms.,,Sharp Bik...|
|12,Mr.,Jr.,Bikes ...|
|16,Mr.,Jr.,Bulk D...|
|18,Mr.,,Catalog S...|
|19,Mr.,,Center Cy...|
|20,Ms.,,Central D...|
|21,,,Chic Departm...|
|22,Ms.,,Travel Sy...|
|23,Mr.,,Bike Worl...|
|24,Mr.,,Eastside ...|
|25,Mr.,,Coalition...|
+--------------------+
only showing top 20 rows

In [30]:
df = spark.read.csv("/user/spark-aula/customer.csv", sep =',', header = True)

In [31]:
df.show()

+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|CustomerID|Title|Suffix|         CompanyName|         SalesPerson|        EmailAddress|        PasswordHash|PasswordSalt|             rowguid|ModifiedDate|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|         1|  Mr.|  null|        A Bike Store|adventure-works\p...|orlando0@adventur...|L/Rlwxzp4w7RWmEgX...|    1KjXYs4=|3F5AE95E-B87D-4AE...|  01-08-2005|
|         2|  Mr.|  null|  Progressive Sports|adventure-works\d...|keith0@adventure-...|YPdtRdvqeAhj6wyxE...|    fs1ZGhY=|E552F657-A9AF-4A7...|  01-08-2006|
|         3|  Ms.|  null|Advanced Bike Com...|adventure-works\j...|donna0@adventure-...|LNoK27abGQo48gGue...|    YTNH5Rw=|130774B1-DB21-4EF...|  01-09-2005|
|         4|  Ms.|  null|Modular Cycle Sys...|adventure-works\j...|janet1@adventure-...|ElzTpSNbUW1Ut+L5c...|    nm7D5e4=|FF862851-1DAA-404...|  01-07-2006|
|         5|  Mr.|  null|Metropolitan Spor...|adventure-works\shu0|lucy0@adventure-w...|KJqV15wsX3PG8TS5G...|    cNFKU4w=|83905BDC-6F5E-4F7...|  01-09-2006|
|         6|  Ms.|  null|Aerobic Exercise ...|adventure-works\l...|rosmarie0@adventu...|OKT0scizCdIzymHHO...|    ihWf50M=|1A92DF88-BFA2-467...|  01-09-2007|
|         7|  Mr.|  null|    Associated Bikes|adventure-works\shu0|dominic0@adventur...|ZccoP/jZGQm+Xpzc7...|    sPoUBSQ=|03E9273E-B193-448...|  01-07-2006|
|        10|  Ms.|  null|Rural Cycle Emporium|adventure-works\j...|kathleen0@adventu...|Qa3aMCxNbVLGrc0b9...|    Ls05W3g=|CDB6698D-2FF1-4FB...|  01-09-2006|
|        11|  Ms.|  null|         Sharp Bikes|adventure-works\j...|katherine0@advent...|uRlorVzDGNJIX9I+e...|    jpHKbqE=|750F3495-59C4-48A...|  01-08-2005|
|        12|  Mr.|   Jr.|Bikes and Motorbikes|adventure-works\g...|johnny0@adventure...|jtF9jBoFYeJTaET7x...|    wVLnvHo=|947BCAF1-1F32-44F...|  01-08-2006|
|        16|  Mr.|   Jr.| Bulk Discount Store|adventure-works\jae0|christopher1@adve...|sKt9daCzEEKWAzivE...|    8KfYx/4=|C9381589-D31C-4EF...|  01-09-2006|
|        18|  Mr.|  null|       Catalog Store|adventure-works\m...|david20@adventure...|61zeTkO+eI5g8GG0s...|    c7Ttvv0=|C04D6B4D-94C6-4C5...|  01-08-2005|
|        19|  Mr.|  null|   Center Cycle Shop|adventure-works\p...|john8@adventure-w...|DzbqWX7B3EK5Dub92...|    zXNgrJw=|69AE5D43-31BE-4B7...|  01-04-2007|
|        20|  Ms.|  null|Central Discount ...|adventure-works\d...|jean1@adventure-w...|o1GVo3vExeNzo0/ct...|    uMsvfdo=|E010C10A-F1C3-4BB...|  01-09-2005|
|        21| null|  null|Chic Department S...|adventure-works\j...|jinghao1@adventur...|IaD5AeqK9mRiIrJi/...|    p6pOqKc=|564E0B42-4609-43D...|  01-09-2006|
|        22|  Ms.|  null|      Travel Systems|adventure-works\j...|linda4@adventure-...|23AwhujCoXYSPiN/B...|    SmyIPjE=|9774AED6-D673-412...|  01-08-2005|
|        23|  Mr.|  null|          Bike World|adventure-works\shu0|kerim0@adventure-...|d0WSjosAd7Y3XOWjN...|    33g5co8=|733F8250-3251-4C2...|  01-09-2006|
|        24|  Mr.|  null|Eastside Departme...|adventure-works\l...|kevin5@adventure-...|ylTpkIOHKLcjihNjS...|    TgZnUOg=|C111E51D-178D-4DB...|  01-09-2006|
|        25|  Mr.|  null|Coalition Bike Co...|adventure-works\shu0|donald0@adventure...|pKYDelLBOZMO98GBz...|    jKtOaOw=|31D03546-FB2A-448...|  01-09-2006|
|        28|  Ms.|  null|Commuter Bicycle ...|adventure-works\j...|jackie0@adventure...|wqhgKfOTfef4Zo3cb...|    SZ+r60o=|9B8A04A4-D909-4F4...|  01-08-2007|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
only showing top 20 rows

In [32]:
#Renomear colunas
df = df.withColumnRenamed("SalesPerson", "Vendedor")

In [33]:
df.show()

+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|CustomerID|Title|Suffix|         CompanyName|            Vendedor|        EmailAddress|        PasswordHash|PasswordSalt|             rowguid|ModifiedDate|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|         1|  Mr.|  null|        A Bike Store|adventure-works\p...|orlando0@adventur...|L/Rlwxzp4w7RWmEgX...|    1KjXYs4=|3F5AE95E-B87D-4AE...|  01-08-2005|
|         2|  Mr.|  null|  Progressive Sports|adventure-works\d...|keith0@adventure-...|YPdtRdvqeAhj6wyxE...|    fs1ZGhY=|E552F657-A9AF-4A7...|  01-08-2006|
|         3|  Ms.|  null|Advanced Bike Com...|adventure-works\j...|donna0@adventure-...|LNoK27abGQo48gGue...|    YTNH5Rw=|130774B1-DB21-4EF...|  01-09-2005|
|         4|  Ms.|  null|Modular Cycle Sys...|adventure-works\j...|janet1@adventure-...|ElzTpSNbUW1Ut+L5c...|    nm7D5e4=|FF862851-1DAA-404...|  01-07-2006|
|         5|  Mr.|  null|Metropolitan Spor...|adventure-works\shu0|lucy0@adventure-w...|KJqV15wsX3PG8TS5G...|    cNFKU4w=|83905BDC-6F5E-4F7...|  01-09-2006|
|         6|  Ms.|  null|Aerobic Exercise ...|adventure-works\l...|rosmarie0@adventu...|OKT0scizCdIzymHHO...|    ihWf50M=|1A92DF88-BFA2-467...|  01-09-2007|
|         7|  Mr.|  null|    Associated Bikes|adventure-works\shu0|dominic0@adventur...|ZccoP/jZGQm+Xpzc7...|    sPoUBSQ=|03E9273E-B193-448...|  01-07-2006|
|        10|  Ms.|  null|Rural Cycle Emporium|adventure-works\j...|kathleen0@adventu...|Qa3aMCxNbVLGrc0b9...|    Ls05W3g=|CDB6698D-2FF1-4FB...|  01-09-2006|
|        11|  Ms.|  null|         Sharp Bikes|adventure-works\j...|katherine0@advent...|uRlorVzDGNJIX9I+e...|    jpHKbqE=|750F3495-59C4-48A...|  01-08-2005|
|        12|  Mr.|   Jr.|Bikes and Motorbikes|adventure-works\g...|johnny0@adventure...|jtF9jBoFYeJTaET7x...|    wVLnvHo=|947BCAF1-1F32-44F...|  01-08-2006|
|        16|  Mr.|   Jr.| Bulk Discount Store|adventure-works\jae0|christopher1@adve...|sKt9daCzEEKWAzivE...|    8KfYx/4=|C9381589-D31C-4EF...|  01-09-2006|
|        18|  Mr.|  null|       Catalog Store|adventure-works\m...|david20@adventure...|61zeTkO+eI5g8GG0s...|    c7Ttvv0=|C04D6B4D-94C6-4C5...|  01-08-2005|
|        19|  Mr.|  null|   Center Cycle Shop|adventure-works\p...|john8@adventure-w...|DzbqWX7B3EK5Dub92...|    zXNgrJw=|69AE5D43-31BE-4B7...|  01-04-2007|
|        20|  Ms.|  null|Central Discount ...|adventure-works\d...|jean1@adventure-w...|o1GVo3vExeNzo0/ct...|    uMsvfdo=|E010C10A-F1C3-4BB...|  01-09-2005|
|        21| null|  null|Chic Department S...|adventure-works\j...|jinghao1@adventur...|IaD5AeqK9mRiIrJi/...|    p6pOqKc=|564E0B42-4609-43D...|  01-09-2006|
|        22|  Ms.|  null|      Travel Systems|adventure-works\j...|linda4@adventure-...|23AwhujCoXYSPiN/B...|    SmyIPjE=|9774AED6-D673-412...|  01-08-2005|
|        23|  Mr.|  null|          Bike World|adventure-works\shu0|kerim0@adventure-...|d0WSjosAd7Y3XOWjN...|    33g5co8=|733F8250-3251-4C2...|  01-09-2006|
|        24|  Mr.|  null|Eastside Departme...|adventure-works\l...|kevin5@adventure-...|ylTpkIOHKLcjihNjS...|    TgZnUOg=|C111E51D-178D-4DB...|  01-09-2006|
|        25|  Mr.|  null|Coalition Bike Co...|adventure-works\shu0|donald0@adventure...|pKYDelLBOZMO98GBz...|    jKtOaOw=|31D03546-FB2A-448...|  01-09-2006|
|        28|  Ms.|  null|Commuter Bicycle ...|adventure-works\j...|jackie0@adventure...|wqhgKfOTfef4Zo3cb...|    SZ+r60o=|9B8A04A4-D909-4F4...|  01-08-2007|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
only showing top 20 rows

In [34]:
#selecionar colunas
df = df.select('Title')

In [35]:
#ordenar
df.sort("Title").show()

+-----+
|Title|
+-----+
| null|
| null|
| null|
| null|
| null|
| null|
| null|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
|  Mr.|
+-----+
only showing top 20 rows

In [38]:
#recriando
df = spark.read.csv("/user/spark-aula/customer.csv", sep =',', header = True)

In [39]:
#ordenar
df.sort("ModifiedDate").show()

+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|CustomerID|Title|Suffix|         CompanyName|         SalesPerson|        EmailAddress|        PasswordHash|PasswordSalt|             rowguid|ModifiedDate|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|     29768|  Mr.|  null|   Riding Excursions|adventure-works\l...|michael15@adventu...|Wwwn13Huxc1/wSvPm...|    x+UpoXE=|C5614F21-602E-49E...|  01-01-2006|
|     29858|  Mr.|  null|Synthetic Materia...|adventure-works\p...|george1@adventure...|BEq/PlDx4jHq8M8eO...|    GVMmXow=|44A21C41-BFC8-455...|  01-01-2006|
|       456|  Mr.|  null|   Riding Excursions|adventure-works\l...|michael15@adventu...|Wwwn13Huxc1/wSvPm...|    x+UpoXE=|71FCE014-2BD7-407...|  01-01-2006|
|       577|  Mr.|  null|Synthetic Materia...|adventure-works\p...|george1@adventure...|BEq/PlDx4jHq8M8eO...|    GVMmXow=|4FD75307-57E3-44B...|  01-01-2006|
|       462|  Mr.|  null|General Riding Su...|adventure-works\g...|bob1@adventure-wo...|SeCchhGjoFaNiCwjU...|    hZbeVTs=|5C085E79-91EE-485...|  01-02-2007|
|     30040|  Ms.|  null|Major Sporting Goods|adventure-works\l...|kayla0@adventure-...|iqikbQl8bEZb+ulQM...|    ZqTw9GM=|E6D036B6-1FAA-44C...|  01-02-2007|
|       598|  Mr.|  null|Black Bicycle Com...|adventure-works\j...|derik0@adventure-...|eiskTIJrt6kqa7sel...|    0rK3P2k=|677DA2FB-A3EF-4EB...|  01-02-2007|
|       625|  Ms.|  null|Major Sporting Goods|adventure-works\l...|kayla0@adventure-...|iqikbQl8bEZb+ulQM...|    ZqTw9GM=|8E200319-3DBD-43A...|  01-02-2007|
|     30032|  Mr.|  null|Black Bicycle Com...|adventure-works\j...|derik0@adventure-...|eiskTIJrt6kqa7sel...|    0rK3P2k=|2C8B69DF-E0B4-41F...|  01-02-2007|
|     29766|  Mr.|  null|General Riding Su...|adventure-works\g...|bob1@adventure-wo...|SeCchhGjoFaNiCwjU...|    hZbeVTs=|9EFB3752-7F40-4E6...|  01-02-2007|
|     29978|  Mr.|  null|Shipping Specialists|adventure-works\jae0|ajay0@adventure-w...|eVyn3oU+PF4k5dUPO...|    MYqiM6w=|B6EF4AC3-0E63-4FB...|  01-02-2008|
|       659|  Mr.|  null|Shipping Specialists|adventure-works\jae0|ajay0@adventure-w...|eVyn3oU+PF4k5dUPO...|    MYqiM6w=|A2098F7B-3D3A-489...|  01-02-2008|
|       580|  Mr.|  null|Rural Sales and S...|adventure-works\j...|joshua0@adventure...|zOvX8kRn4fdhAQJxa...|    HQlRLlk=|FE870DE4-818A-495...|  01-03-2006|
|     29859|  Mr.|  null|Rural Sales and S...|adventure-works\j...|joshua0@adventure...|zOvX8kRn4fdhAQJxa...|    HQlRLlk=|B5E28EBD-35EC-4B5...|  01-03-2006|
|       219|  Mr.|  null|Extras Sporting G...|adventure-works\j...|brian6@adventure-...|TGnRB6vDbV0LZss8t...|    2t9hMlk=|D39CCCE3-C4A6-441...|  01-03-2007|
|     29884|  Mr.|  null|Extras Sporting G...|adventure-works\j...|brian6@adventure-...|TGnRB6vDbV0LZss8t...|    2t9hMlk=|0BA43373-59D8-4B1...|  01-03-2007|
|     29545|  Mr.|  null|   Center Cycle Shop|adventure-works\p...|john8@adventure-w...|DzbqWX7B3EK5Dub92...|    zXNgrJw=|38DC2574-509C-4F6...|  01-04-2007|
|        19|  Mr.|  null|   Center Cycle Shop|adventure-works\p...|john8@adventure-w...|DzbqWX7B3EK5Dub92...|    zXNgrJw=|69AE5D43-31BE-4B7...|  01-04-2007|
|       564|  Ms.|  null|Imported and Dome...|adventure-works\l...|michelle0@adventu...|bA9fPVXpV/0NMRuGi...|    M5BkDDQ=|7F79FF5A-E220-46F...|  01-05-2007|
|       565|  Mr.|   Jr.|Metallic Paint an...|adventure-works\shu0|richard0@adventur...|IKeN04oVNJhVCRPh+...|    s71j+uU=|795FED3E-6216-4F6...|  01-05-2007|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
only showing top 20 rows

In [40]:
#verificando estrutura do datafram
df.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Suffix: string (nullable = true)
 |-- CompanyName: string (nullable = true)
 |-- SalesPerson: string (nullable = true)
 |-- EmailAddress: string (nullable = true)
 |-- PasswordHash: string (nullable = true)
 |-- PasswordSalt: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: string (nullable = true)

In [41]:
#filtrando valores
df.filter((df.Title=="Mr.")).show()

+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|CustomerID|Title|Suffix|         CompanyName|         SalesPerson|        EmailAddress|        PasswordHash|PasswordSalt|             rowguid|ModifiedDate|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
|         1|  Mr.|  null|        A Bike Store|adventure-works\p...|orlando0@adventur...|L/Rlwxzp4w7RWmEgX...|    1KjXYs4=|3F5AE95E-B87D-4AE...|  01-08-2005|
|         2|  Mr.|  null|  Progressive Sports|adventure-works\d...|keith0@adventure-...|YPdtRdvqeAhj6wyxE...|    fs1ZGhY=|E552F657-A9AF-4A7...|  01-08-2006|
|         5|  Mr.|  null|Metropolitan Spor...|adventure-works\shu0|lucy0@adventure-w...|KJqV15wsX3PG8TS5G...|    cNFKU4w=|83905BDC-6F5E-4F7...|  01-09-2006|
|         7|  Mr.|  null|    Associated Bikes|adventure-works\shu0|dominic0@adventur...|ZccoP/jZGQm+Xpzc7...|    sPoUBSQ=|03E9273E-B193-448...|  01-07-2006|
|        12|  Mr.|   Jr.|Bikes and Motorbikes|adventure-works\g...|johnny0@adventure...|jtF9jBoFYeJTaET7x...|    wVLnvHo=|947BCAF1-1F32-44F...|  01-08-2006|
|        16|  Mr.|   Jr.| Bulk Discount Store|adventure-works\jae0|christopher1@adve...|sKt9daCzEEKWAzivE...|    8KfYx/4=|C9381589-D31C-4EF...|  01-09-2006|
|        18|  Mr.|  null|       Catalog Store|adventure-works\m...|david20@adventure...|61zeTkO+eI5g8GG0s...|    c7Ttvv0=|C04D6B4D-94C6-4C5...|  01-08-2005|
|        19|  Mr.|  null|   Center Cycle Shop|adventure-works\p...|john8@adventure-w...|DzbqWX7B3EK5Dub92...|    zXNgrJw=|69AE5D43-31BE-4B7...|  01-04-2007|
|        23|  Mr.|  null|          Bike World|adventure-works\shu0|kerim0@adventure-...|d0WSjosAd7Y3XOWjN...|    33g5co8=|733F8250-3251-4C2...|  01-09-2006|
|        24|  Mr.|  null|Eastside Departme...|adventure-works\l...|kevin5@adventure-...|ylTpkIOHKLcjihNjS...|    TgZnUOg=|C111E51D-178D-4DB...|  01-09-2006|
|        25|  Mr.|  null|Coalition Bike Co...|adventure-works\shu0|donald0@adventure...|pKYDelLBOZMO98GBz...|    jKtOaOw=|31D03546-FB2A-448...|  01-09-2006|
|        29|  Mr.|  null|Cross-Country Rid...|adventure-works\j...|bryan2@adventure-...|ftRWIIT4oF+if+ddn...|    IRNPDIw=|ECA7C8FA-490B-4B9...|  01-08-2005|
|        30|  Mr.|  null|     Cycle Merchants|adventure-works\g...|todd0@adventure-w...|FV6z03ywMJOumcU+T...|    mFRhaEg=|2B15DFB1-831E-49E...|  01-09-2006|
|        37|  Mr.|  null|      Two Bike Shops|adventure-works\p...|jim1@adventure-wo...|cvqeC4fJcKwJ9jllu...|    ot8WcXk=|C6EBB29A-CC67-459...|  01-09-2006|
|        40|  Mr.|  null|Journey Sporting ...|adventure-works\j...|darren0@adventure...|kqptixZ7LqTuOKcc7...|    Xe7grug=|AA5E28F6-16C8-4D8...|  01-08-2005|
|        42|  Mr.|  null|Healthy Activity ...|adventure-works\l...|jeremy0@adventure...|jLMkpmNutZFzWw7sS...|    JK9/WX8=|64ACD300-337D-4D3...|  01-07-2006|
|        46|  Mr.|  null|Gear-Shift Bikes ...|adventure-works\j...|david19@adventure...|HyZexVTTLfKfhx/Sb...|    /kc6RdY=|21849ECF-88C2-457...|  01-12-2006|
|        55|  Mr.|  null|Kickstands and Ac...|adventure-works\p...|eric6@adventure-w...|katp5sn21ZqJq5Z26...|    xw9RymE=|F5D3997B-AD06-46A...|  01-09-2007|
|        56|  Mr.|  null|Latest Accessorie...|adventure-works\d...|brian5@adventure-...|tbk7TwAC5jsqEhFRR...|    hpOsvJU=|570B1682-9BB1-435...|  01-08-2006|
|        58|  Mr.|  null|  Largest Bike Store|adventure-works\j...|peter4@adventure-...|el1s9e+hWeb+79bwr...|    QgzjTPU=|E324FEE8-1EE7-4B9...|  01-11-2005|
+----------+-----+------+--------------------+--------------------+--------------------+--------------------+------------+--------------------+------------+
only showing top 20 rows

In [42]:
#criando novo df com colunas selecionadas
df = df.select("CustomerID", "Title", "CompanyName", "ModifiedDate")
df.show()

+----------+-----+--------------------+------------+
|CustomerID|Title|         CompanyName|ModifiedDate|
+----------+-----+--------------------+------------+
|         1|  Mr.|        A Bike Store|  01-08-2005|
|         2|  Mr.|  Progressive Sports|  01-08-2006|
|         3|  Ms.|Advanced Bike Com...|  01-09-2005|
|         4|  Ms.|Modular Cycle Sys...|  01-07-2006|
|         5|  Mr.|Metropolitan Spor...|  01-09-2006|
|         6|  Ms.|Aerobic Exercise ...|  01-09-2007|
|         7|  Mr.|    Associated Bikes|  01-07-2006|
|        10|  Ms.|Rural Cycle Emporium|  01-09-2006|
|        11|  Ms.|         Sharp Bikes|  01-08-2005|
|        12|  Mr.|Bikes and Motorbikes|  01-08-2006|
|        16|  Mr.| Bulk Discount Store|  01-09-2006|
|        18|  Mr.|       Catalog Store|  01-08-2005|
|        19|  Mr.|   Center Cycle Shop|  01-04-2007|
|        20|  Ms.|Central Discount ...|  01-09-2005|
|        21| null|Chic Department S...|  01-09-2006|
|        22|  Ms.|      Travel Systems|  01-08-2005|
|        23|  Mr.|          Bike World|  01-09-2006|
|        24|  Mr.|Eastside Departme...|  01-09-2006|
|        25|  Mr.|Coalition Bike Co...|  01-09-2006|
|        28|  Ms.|Commuter Bicycle ...|  01-08-2007|
+----------+-----+--------------------+------------+
only showing top 20 rows

In [50]:
#filtrando valores
df.filter((df.Title=="Ms.") & (df.CompanyName=='Sharp Bikes')).show()

+----------+-----+-----------+------------+
|CustomerID|Title|CompanyName|ModifiedDate|
+----------+-----+-----------+------------+
|        11|  Ms.|Sharp Bikes|  01-08-2005|
|     29813|  Ms.|Sharp Bikes|  01-08-2005|
+----------+-----+-----------+------------+

In [51]:
#agrupando
from pyspark.sql import functions as F

df.groupBy(["CompanyName"]).agg(F.sum("CustomerID")).show()

+--------------------+---------------+
|         CompanyName|sum(CustomerID)|
+--------------------+---------------+
|   Mail-Order Outlet|        30455.0|
|      Westside Plaza|        30240.0|
|Tachometers and A...|        30341.0|
|Historic Bicycle ...|        30070.0|
|Discount Bicycle ...|        29797.0|
|  Basic Bike Company|        30090.0|
|       Roving Sports|        30120.0|
|  General Industries|        30126.0|
|Acceptable Sales ...|        30275.0|
|Non-Slip Pedal Co...|        30083.0|
|Synthetic Materia...|        30435.0|
|         More Bikes!|        30040.0|
|Primary Bike Dist...|        30125.0|
|    Fifth Bike Store|        29950.0|
|Bikes for Kids an...|        30304.0|
|     Cycle Clearance|        30626.0|
|Rural Department ...|        29726.0|
|Healthy Activity ...|           42.0|
|Vintage Sport Bou...|        30180.0|
|Bicycle Merchandi...|        30237.0|
+--------------------+---------------+
only showing top 20 rows

In [52]:
#utilizand alias (apelidos)
df.groupBy(["CompanyName"]).agg(F.sum("CustomerID").alias("quantidade_clientes")).show()

+--------------------+-------------------+
|         CompanyName|quantidade_clientes|
+--------------------+-------------------+
|   Mail-Order Outlet|            30455.0|
|      Westside Plaza|            30240.0|
|Tachometers and A...|            30341.0|
|Historic Bicycle ...|            30070.0|
|Discount Bicycle ...|            29797.0|
|  Basic Bike Company|            30090.0|
|       Roving Sports|            30120.0|
|  General Industries|            30126.0|
|Acceptable Sales ...|            30275.0|
|Non-Slip Pedal Co...|            30083.0|
|Synthetic Materia...|            30435.0|
|         More Bikes!|            30040.0|
|Primary Bike Dist...|            30125.0|
|    Fifth Bike Store|            29950.0|
|Bikes for Kids an...|            30304.0|
|     Cycle Clearance|            30626.0|
|Rural Department ...|            29726.0|
|Healthy Activity ...|               42.0|
|Vintage Sport Bou...|            30180.0|
|Bicycle Merchandi...|            30237.0|
+--------------------+-------------------+
only showing top 20 rows

In [53]:
# Novo DF para  JOIN
df_ad = spark.read.csv("/user/spark-aula/customeraddress.csv", sep =',', header = True)

In [54]:
#validando Schema
df_ad.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- AddressID: string (nullable = true)
 |-- rowguid: string (nullable = true)
 |-- ModifiedDate: string (nullable = true)

In [55]:
#JOIN
df.join(df_ad,df_ad.CustomerID ==  df.CustomerID,"inner").show(truncate=False)

+----------+-----+-----------------------------------+------------+----------+---------+------------------------------------+------------+
|CustomerID|Title|CompanyName                        |ModifiedDate|CustomerID|AddressID|rowguid                             |ModifiedDate|
+----------+-----+-----------------------------------+------------+----------+---------+------------------------------------+------------+
|29485     |Ms.  |Professional Sales and Service     |16-05-2009  |29485     |1086     |16765338-DBE4-4421-B5E9-3836B9278E63|01-09-2007  |
|29486     |Ms.  |Riders Company                     |16-05-2009  |29486     |621      |22B3E910-14AF-4ED5-8B4D-23BBE757414D|01-09-2005  |
|29489     |Ms.  |Area Bike Accessories              |16-05-2009  |29489     |1069     |A095C88B-D7E6-4178-A078-2ECA44214801|01-07-2005  |
|29490     |Ms.  |Bicycle Accessories and Kits       |16-05-2009  |29490     |887      |F12E1702-D897-4035-B614-0FE2C72168A9|01-09-2006  |
|29492     |Mr.  |Valley Bicycle Specialists         |16-05-2009  |29492     |618      |5B3B3EB2-3F43-47ED-A20C-23697DABF23B|01-12-2006  |
|29494     |Mr.  |Vinyl and Plastic Goods Corporation|01-09-2005  |29494     |537      |492D92B6-31AF-47EA-8E00-7C11C7CCC20D|01-09-2005  |
|29496     |Mr.  |Fun Toys and Bikes                 |01-09-2007  |29496     |1072     |0A66B0F3-24BC-4148-9661-26E935CEC99A|01-09-2007  |
|29497     |Mr.  |Great Bikes                        |01-07-2005  |29497     |889      |7E0B56FD-7324-4898-BEDB-2F56A843BB0F|01-07-2005  |
|29499     |Ms.  |Valley Toy Store                   |01-09-2006  |29499     |527      |C90CB0C3-976A-4075-A2B9-13136F4F1A92|01-09-2006  |
|29502     |Mr.  |Major Sport Suppliers              |01-07-2007  |29502     |893      |8ACB1C6A-7CDF-417B-AFD5-9F4C642F3C7E|01-07-2007  |
|29503     |Mr.  |Family's Favorite Bike Shop        |01-08-2006  |29503     |541      |6811DBE3-1F02-440C-932E-A54F403B3E51|01-08-2006  |
|29503     |Mr.  |Family's Favorite Bike Shop        |01-08-2006  |29503     |32       |BE00FFC6-194B-44E9-A129-DFBEB8F1301F|01-08-2006  |
|29505     |Ms.  |Imported and Domestic Cycles       |01-05-2007  |29505     |1083     |740A06AF-77F1-45CA-B284-38537324F86A|01-05-2007  |
|29506     |Mr.  |Systematic Sales                   |01-08-2007  |29506     |1082     |DD51A14D-45F5-44E9-BF3B-260F0E08E545|01-08-2007  |
|29508     |Mr.  |Mountain Toy Store                 |01-12-2005  |29508     |619      |2DD326F6-02DA-44B7-96FB-B3A86067C5EE|01-12-2005  |
|29510     |Mr.  |Designated Distributors            |01-08-2005  |29510     |540      |AF6DCC27-DCCB-40DE-9445-3F4990AABD28|01-08-2005  |
|29511     |Mr.  |Bold Bike Accessories              |01-08-2005  |29511     |1046     |61CB8C51-7C96-4306-8050-56C90504972B|01-08-2005  |
|29515     |Mr.  |Serious Cycles                     |01-08-2005  |29515     |504      |A5F1A232-3CCE-4149-9892-DE9895BC0F07|01-08-2005  |
|29517     |Ms.  |Novelty Bikes                      |01-08-2007  |29517     |794      |DB4D3044-7BF4-4D65-B48E-3FF927A842F0|01-08-2007  |
|29521     |Mr.  |Brightwork Company                 |01-08-2005  |29521     |1054     |C0F708C3-9147-44C4-B6CB-FD5B765343C0|01-08-2005  |
+----------+-----+-----------------------------------+------------+----------+---------+------------------------------------+------------+
only showing top 20 rows

In [56]:
#novo df
df_tb = df.join(df_ad,df_ad.CustomerID ==  df.CustomerID,"inner")

In [57]:
df_tb.show()

+----------+-----+--------------------+------------+----------+---------+--------------------+------------+
|CustomerID|Title|         CompanyName|ModifiedDate|CustomerID|AddressID|             rowguid|ModifiedDate|
+----------+-----+--------------------+------------+----------+---------+--------------------+------------+
|     29485|  Ms.|Professional Sale...|  16-05-2009|     29485|     1086|16765338-DBE4-442...|  01-09-2007|
|     29486|  Ms.|      Riders Company|  16-05-2009|     29486|      621|22B3E910-14AF-4ED...|  01-09-2005|
|     29489|  Ms.|Area Bike Accesso...|  16-05-2009|     29489|     1069|A095C88B-D7E6-417...|  01-07-2005|
|     29490|  Ms.|Bicycle Accessori...|  16-05-2009|     29490|      887|F12E1702-D897-403...|  01-09-2006|
|     29492|  Mr.|Valley Bicycle Sp...|  16-05-2009|     29492|      618|5B3B3EB2-3F43-47E...|  01-12-2006|
|     29494|  Mr.|Vinyl and Plastic...|  01-09-2005|     29494|      537|492D92B6-31AF-47E...|  01-09-2005|
|     29496|  Mr.|  Fun Toys and Bikes|  01-09-2007|     29496|     1072|0A66B0F3-24BC-414...|  01-09-2007|
|     29497|  Mr.|        Great Bikes |  01-07-2005|     29497|      889|7E0B56FD-7324-489...|  01-07-2005|
|     29499|  Ms.|    Valley Toy Store|  01-09-2006|     29499|      527|C90CB0C3-976A-407...|  01-09-2006|
|     29502|  Mr.|Major Sport Suppl...|  01-07-2007|     29502|      893|8ACB1C6A-7CDF-417...|  01-07-2007|
|     29503|  Mr.|Family's Favorite...|  01-08-2006|     29503|      541|6811DBE3-1F02-440...|  01-08-2006|
|     29503|  Mr.|Family's Favorite...|  01-08-2006|     29503|       32|BE00FFC6-194B-44E...|  01-08-2006|
|     29505|  Ms.|Imported and Dome...|  01-05-2007|     29505|     1083|740A06AF-77F1-45C...|  01-05-2007|
|     29506|  Mr.|    Systematic Sales|  01-08-2007|     29506|     1082|DD51A14D-45F5-44E...|  01-08-2007|
|     29508|  Mr.|  Mountain Toy Store|  01-12-2005|     29508|      619|2DD326F6-02DA-44B...|  01-12-2005|
|     29510|  Mr.|Designated Distri...|  01-08-2005|     29510|      540|AF6DCC27-DCCB-40D...|  01-08-2005|
|     29511|  Mr.|Bold Bike Accesso...|  01-08-2005|     29511|     1046|61CB8C51-7C96-430...|  01-08-2005|
|     29515|  Mr.|      Serious Cycles|  01-08-2005|     29515|      504|A5F1A232-3CCE-414...|  01-08-2005|
|     29517|  Ms.|       Novelty Bikes|  01-08-2007|     29517|      794|DB4D3044-7BF4-4D6...|  01-08-2007|
|     29521|  Mr.|  Brightwork Company|  01-08-2005|     29521|     1054|C0F708C3-9147-44C...|  01-08-2005|
+----------+-----+--------------------+------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [58]:
df_tb.write.csv("/user/spark-aula/join_result")

AnalysisException: 'Found duplicate column(s) when inserting into hdfs://namenode:8020/user/spark-aula/join_result: `modifieddate`, `customerid`;'

In [59]:
df = df.withColumnRenamed("CustomerID", "DfCustomerID").withColumnRenamed("modifieddate", "ModifyDate")

In [60]:
df_tb = df.join(df_ad,df_ad.CustomerID ==  df.DfCustomerID,"inner")

In [61]:
df_tb.write.csv("/user/spark-aula/join_result2")

In [63]:
df.join(df_ad,df_ad.CustomerID ==  df.DfCustomerID,"cross").show()

+------------+-----+--------------------+----------+----------+---------+--------------------+------------+
|DfCustomerID|Title|         CompanyName|ModifyDate|CustomerID|AddressID|             rowguid|ModifiedDate|
+------------+-----+--------------------+----------+----------+---------+--------------------+------------+
|       29485|  Ms.|Professional Sale...|16-05-2009|     29485|     1086|16765338-DBE4-442...|  01-09-2007|
|       29486|  Ms.|      Riders Company|16-05-2009|     29486|      621|22B3E910-14AF-4ED...|  01-09-2005|
|       29489|  Ms.|Area Bike Accesso...|16-05-2009|     29489|     1069|A095C88B-D7E6-417...|  01-07-2005|
|       29490|  Ms.|Bicycle Accessori...|16-05-2009|     29490|      887|F12E1702-D897-403...|  01-09-2006|
|       29492|  Mr.|Valley Bicycle Sp...|16-05-2009|     29492|      618|5B3B3EB2-3F43-47E...|  01-12-2006|
|       29494|  Mr.|Vinyl and Plastic...|01-09-2005|     29494|      537|492D92B6-31AF-47E...|  01-09-2005|
|       29496|  Mr.|  Fun Toys and Bikes|01-09-2007|     29496|     1072|0A66B0F3-24BC-414...|  01-09-2007|
|       29497|  Mr.|        Great Bikes |01-07-2005|     29497|      889|7E0B56FD-7324-489...|  01-07-2005|
|       29499|  Ms.|    Valley Toy Store|01-09-2006|     29499|      527|C90CB0C3-976A-407...|  01-09-2006|
|       29502|  Mr.|Major Sport Suppl...|01-07-2007|     29502|      893|8ACB1C6A-7CDF-417...|  01-07-2007|
|       29503|  Mr.|Family's Favorite...|01-08-2006|     29503|      541|6811DBE3-1F02-440...|  01-08-2006|
|       29503|  Mr.|Family's Favorite...|01-08-2006|     29503|       32|BE00FFC6-194B-44E...|  01-08-2006|
|       29505|  Ms.|Imported and Dome...|01-05-2007|     29505|     1083|740A06AF-77F1-45C...|  01-05-2007|
|       29506|  Mr.|    Systematic Sales|01-08-2007|     29506|     1082|DD51A14D-45F5-44E...|  01-08-2007|
|       29508|  Mr.|  Mountain Toy Store|01-12-2005|     29508|      619|2DD326F6-02DA-44B...|  01-12-2005|
|       29510|  Mr.|Designated Distri...|01-08-2005|     29510|      540|AF6DCC27-DCCB-40D...|  01-08-2005|
|       29511|  Mr.|Bold Bike Accesso...|01-08-2005|     29511|     1046|61CB8C51-7C96-430...|  01-08-2005|
|       29515|  Mr.|      Serious Cycles|01-08-2005|     29515|      504|A5F1A232-3CCE-414...|  01-08-2005|
|       29517|  Ms.|       Novelty Bikes|01-08-2007|     29517|      794|DB4D3044-7BF4-4D6...|  01-08-2007|
|       29521|  Mr.|  Brightwork Company|01-08-2005|     29521|     1054|C0F708C3-9147-44C...|  01-08-2005|
+------------+-----+--------------------+----------+----------+---------+--------------------+------------+
only showing top 20 rows